* {
    font-family: 'Edu TAS Beginner', cursive;
}

p {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 2em;
}

h3 {
    font-size: 3em;
    margin-bottom: 1em;
}

h5 {
    font-size: 2em;
    margin-bottom: 1em;
}

.btn btn-primary {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.carousel-inner img {
    width: 100%;
    max-height: 50%;
}

// .carousel-inner {
//     height: 70%;
// }
// .carousel-inner-item img {
//     max-height: 600px;
// }