* {
    font-family: 'Edu TAS Beginner', cursive;
}

p {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 2em;
}

h2 {
    font-size: 3.3em;
    margin-bottom: 1em;
}

h3 {
    font-size: 3em;
    margin-bottom: 1em;
}

h5 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.btn btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn btn-light {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner img {
    min-height: 100%;
}

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 2em;
}

.bg {
    color: rgb(27, 206, 152);
}

// .card {
//     width: 400px;
//     height: 230px;
//     display: inline-block;
//     align-items: center;
//     justify-content: center;
// }