<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="direccion de la tienda, telefono, mapa de ubicacion, contacto por redes Sociales">
    <meta name="author" content="braian dos santos">
    <meta name="keywords" content="seccion contactos, sugerencias, opiniones, Comentarios">
    <meta name="robots" content=" no index, no follow">

    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/main.css">
    <title>BM CONTACTO</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-SECONDARY mt-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../img/logo BM.jpeg"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/Productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/envios.html">Envios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row mx-auto">
            <form action="formulario" formulario></form>
            <h2 class="text-center">Contacto</h2>
            <div class="text-center">Direccion: Eugenio E Burzaco</div>
            <div class="text-center">Telefono: 4238-0609</div>
            <div class="text-center">Email: burzacomarket@gmail.com
            </div>

            <section class="contacto text-center mx-auto">
                <div class="row mx-auto">
                    <div class="form-floating mx-auto">
                        <textarea class="form-control mx-auto" placeholder="Leave a comment here" id="floatingTextarea2" style=height:200px;width:500px></textarea class="mx-auto">
                        <label for=floatingTextarea2>Comentarios</label>
                        <input type="reset" value="cancelar">
                        <input type="submit" value="enviar">
                    </div>
                </div>
        </section>

        <h3 class="text-center ">Ubicacion</h3>
        <div class="row mt-3 ">
            <div class="ratio ratio-21x9 ">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26199.98178438452!2d-58.41904571895196!3d-34.83114976886502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd49a149975bd%3A0xcc1f98519388f175!2sBurzaco%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1653628903336!5m2!1ses!2sar "
                    width="400 " height="300 " style="border:0; " allowfullscreen=" " loading="lazy " referrerpolicy="no-referrer-when-downgrade "></iframe>
            </div>

        </div>

        <div class="row ">
            <h3 class="text-center ">Nuestras Redes Sociales</h3>
            <footer class="bg-light text-center text-white ">

                <div class="container p-4 pb-0 ">
                    <section class="mb-4 ">
                        <a class="btn btn-primary btn-floating m-1 " style="background-color: #3b5998; " img src="../img svg/facebook-svgrepo-com.svg" href="https://www.facebook.com/burzaco-market-103549792372742/ " role="button "><img src="../img svg/facebook-svgrepo-com.svg" class="fab fa-facebook-f "></i ></a>
                        <a class="btn btn-primary btn-floating m-1 " style="background-color: #dd4b39; " href="mailto:burzacomarket@gmail.com " img src="../img svg/gmail-svgrepo-com.svg" role="button "><i class="fab fa-google "></i></a>
                        <a class="btn btn-primary btn-floating m-1 " style="background-color: #ac2bac; " href="https://www.instagram.com/burzaco_market?igshid=ymmymta2m2y=" role=" button "><i class="fab fa-instagram "></i></a>
                    </section>
                </div>
                <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">

                </div>
        </div>
        </footer>


        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js " integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn " crossorigin="anonymous "></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js " integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13 " crossorigin="anonymous "></script>

    </div>
</body>

</html>