<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="formas de envios, formulario de envios, formulario de cliente">
    <meta name="author" content="braian dos santos">
    <meta name="keywords" content="Formas de envios/ envios a domicilio/retiro en deposito/transporte">
    <meta name="robots" content=" no index, no follow">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/main.css">
    <title>BM Envios</title>

</head>

<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-SECONDARY mt-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../img/logo BM.jpeg"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" href="../views/Productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/envios.html">Envios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <h3 class="text-center">Envios</h3>
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Domicilio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Retiro por Sucursal
                </label>
            </div>
        </div>
        <h3 class="text-center">Informacion Personal</h3>
        <div class="row">
            <form class="row g-3">
                <div class="col-md-4">
                    <label for="validationServer01" class="form-label">Nombre</label>
                    <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required>
                    <div class="valid-feedback">
                        ¡Se ve bien!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationServer02" class="form-label">Apellido</label>
                    <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required>
                    <div class="valid-feedback">
                        ¡Se ve bien!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationServerUsername" class="form-label">Nombre de usuario</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" class="form-control is-valid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Por favor, elije un nombre de usuario.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationServer03" class="form-label">Ciudad</label>
                    <input type="text" class="form-control is-valid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
                    <div id="validationServer03Feedback" class="invalid-feedback">
                        Proporciona una ciudad válida.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer04" class="form-label">Estado</label>
                    <select class="form-select is-valid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
                    <option selected disabled value="">Elige...</option>
                    <option>...</option>
                  </select>
                    <div id="validationServer04Feedback" class="invalid-feedback">
                        Selecciona un estado válido.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationServer05" class="form-label">Código postal</label>
                    <input type="text" class="form-control is-valid" id="validationServer05" aria-describedby="validationServer05Feedback" required>
                    <div id="validationServer05Feedback" class="invalid-feedback">
                        Proporciona un código postal válido.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input is-valid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                        <label class="form-check-label" for="invalidCheck3">
                      Acepta los términos y condiciones
                    </label>
                        <div id="invalidCheck3Feedback" class="invalid-feedback">
                            Debe estar de acuerdo antes de enviar.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-light" type="submit">Enviar formulario</button>
                </div>
            </form>
        </div>
        <h3 class="text-center">Informacion de Pedidos</h3>
        <div class="row">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Comentarios para sus envios
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked">
                  Comentario para su retiro en sucursales
                </label>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Especifique detalles para sus envios</label>
                    <input type="reset" value="cancelar">
                    <input type="submit" value="enviar">
                </div>
            </div>
        </div>

        <div class="row">
            <h3 class="text-center">Nuestras Redes Sociales</h3>
            <footer class="bg-light text-center text-white">

                <div class="container p-4 pb-0">
                    <section class="mb-4">
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/burzaco-market-103549792372742/" role="button"><i class="fab fa-facebook-f"></i ></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39;" href="mailto:burzacomarket@gmail.com" role="button"><i class="fab fa-google"></i></a>
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/burzaco_market?igshid=ymmymta2m2y=" role="button"><i class="fab fa-instagram"></i></a>
                    </section>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">


                </div>

            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>