<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="botelleas termicas de aluminio, termos de acero, mates, smartwatch,balanzas,autostereo">
    <meta name="author" content="braian dos santos">
    <meta name="keywords" content="burzaco market,termos,mates,botellas,smartwatch">
    <meta name="robots" content=" no index, no follow">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/main.css">
    <title>BM PRODUCTOS</title>
</head>

<body>

    <div class="container">
        <!-- inicia navbar -->
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-SECONDARY mt-3">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">
                        <img src="../img/logo BM.jpeg"></a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link  active" href="../views/productos.html">Productos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/envios.html">Envios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../views/contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <!-- termina navbar -->
        <h3 class="text-center">Productos nuevos por descubrir</h3>
        <div class="container">
            <div class="row">
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img1.jpeg" class="img-fluid rounded-start" alt="vasos cafeteros termicos">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Vaso Termico de 500 ml</h5>
                                <br>
                                <p class="card-text"> $2500.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/Originals/WhatsApp Image 2022-07-27 at 1.05.25 AM (2).jpeg" class="img-fluid rounded-start" alt="vasos cafeteros termicos">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Vasos Termicos de 500 ml</h5>
                                <p class="card-text"> $1750</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 dias</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img3.jpeg" class="img-fluid rounded-start" alt="botella deportiva de varios colores">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Botellas Deportivas </h5>
                                <p class="card-text">$ 1.400</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img4.jpeg" class="img-fluid rounded-start" alt="termos engomado varios colores">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Termos Engomado</h5>
                                <P class="card-text">$3.750</P>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img5.jpeg" class="img-fluid rounded-start" alt="termos metalizados varios colores">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Termos Espejados</h5>
                                <P class="card-text">$4.200></P>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img6.jpeg" class="img-fluid rounded-start" alt="termos colores metalizados ">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Termos Espejados</h5>
                                <p class="card-text">$4.200</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 6 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img7.jpeg" class="img-fluid rounded-start" alt="botella de aluminio 1 lt">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Botella de aluminio</h5>
                                <p class="card-text">$2.000</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 15 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="pack de 4 botellas de aluminio">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Botellas aluminio x4</h5>
                                <p class="card-text">$8.500</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 45 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/nuevos ingresos/WhatsApp Image 2022-06-04 at 2.44.42 PM (1).jpeg" class="img-fluid rounded-start" alt="mate simil metal">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Mate simil Metal</h5>
                                <p class="card-text">$2.300</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 120 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/nuevos ingresos/WhatsApp Image 2022-06-04 at 2.44.43 PM (1).jpeg" class="img-fluid rounded-start" alt="botella deportiva de aluminio 500ml">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Botella deportiva alumino</h5>
                                <p class="card-text">$1.200</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 90 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/nuevos ingresos/WhatsApp Image 2022-06-04 at 2.44.45 PM (1).jpeg" class="img-fluid rounded-start" alt="balanza digital">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Balanza digital</h5>
                                <p class="card-text">$2.000</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 55 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/nuevos ingresos/WhatsApp Image 2022-06-04 at 2.44.46 PM (1).jpeg" class="img-fluid rounded-start" alt="botella deportiva con pico hermetico">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Botella deportiva hermetica</h5>
                                <p class="card-text">$2.500</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 60 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/nuevos ingresos/WhatsApp Image 2022-06-04 at 2.45.31 PM (1).jpeg" class="img-fluid rounded-start" alt="smartwatch">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Smartwatch</h5>
                                <p class="card-text">$1.800</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 32 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Título de la tarjeta</h5>
                                <p class="card-text">. Este contenido es un poco más largo.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 13 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Título de la tarjeta</h5>
                                <p class="card-text">. Este contenido es un poco más largo.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 23 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Título de la tarjeta</h5>
                                <p class="card-text">. Este contenido es un poco más largo.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 11 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Título de la tarjeta</h5>
                                <p class="card-text">. Este contenido es un poco más largo.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 7 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3 m-md-4" style="max-width: 540px; ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../img/productos2/img8.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Título de la tarjeta</h5>
                                <p class="card-text">. Este contenido es un poco más largo.</p>
                                <button type="button" class="btn btn-primary btn-sm">Agregar a favoritos</button>
                                <button type="button" class="btn btn-secondary btn-sm">Comprar</button>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h3 class="text-center">Productos Destacados </h3>
            <div class="row ">
                <div id="carouselExampleControls" class="carousel slide w-75 mx-auto" data-bs-ride="carousel">
                    <div class="carousel-inner ">
                        <div class="carousel-item active">
                            <img src="../img/imagenes termos/480/termo blanco mate1.jpeg" class="d-block w-100" alt="termo de metal blanco mate">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/imagenes termos/480/termo rosa engomado1.jpeg" class="d-block w-100" alt="termo rosa de metal emgomado">
                        </div>
                        <div class="carousel-item">
                            <img src="../img/imagenes termos/480/termo rosa mate1.jpeg" class="d-block w-100" alt="termo de metal rosa mate">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>

            <div class="row mt-3">
                <h3 class="text-center">Nuestras Redes Sociales</h3>
                <footer class="bg-light text-center text-white">
                    <div class="container p-4 pb-0">
                        <section class="mb-4">
                            <a href="https://www.facebook.com/burzaco-market-103549792372742/" target="_blank ">
                                <img src="../img/iconos redes sociales/logo FB.png " alt="facebook "></a>

                            <a href="https://www.instagram.com/burzaco_market?igshid=ymmymta2m2y=" target=" _blank ">
                                <img src="../img/iconos redes sociales/logo insta.png" alt="instagram "></a>

                            <a href="mailto:burzacomarket@gmail.com" target="_blank ">
                                <img src="../img/iconos redes sociales/7d07339f9bdecc320c3938fc05a8106d.png" alt="email "></a>

                        </section>
                    </div>
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

                    </div>
                </footer>
                <footer class="js-hide-footer-while-scrolling display-when-content-ready" data-store="footer">
                    <div class="container">
                        <div class="row element-footer">

                            <div class="col-md mb-5">
                                <h5>Más info</h5>
                                <ul class="footer-menu row p-0">
                                    <li class="footer-menu-item col-6 col-md-12">
                                        <a class="footer-menu-link" href="https://www-burzacomarket-com-ar.netlify.app/index.html">Showroom </a>
                                    </li>
                                    <li class="footer-menu-item col-6 col-md-12">
                                        <a class="footer-menu-link" href="https://www-burzacomarket-com-ar.netlify.app/index.html">Como comprar</a>
                                    </li>
                                    <li class="footer-menu-item col-6 col-md-12">
                                        <a class="footer-menu-link" href="https://www-burzacomarket-com-ar.netlify.app/index.html">Cambios &amp; Devoluciones</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md footer-payments-shipping-logos">
                                <h5>Medios de pago</h5>
                                <div class="mb-5">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png" class="icon-logo lazyloaded" alt="visa" width="32"
                                        height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png" class="icon-logo lazyloaded"
                                        alt="mastercard" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png" class="icon-logo lazyloaded" alt="amex" width="32"
                                        height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png" class="icon-logo lazyloaded" alt="diners"
                                        width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/banelco@2x.png" class="icon-logo lazyloaded"
                                        alt="ar_banelco" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cabal@2x.png" class="icon-logo lazyloaded" alt="ar_cabal"
                                        width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-naranja@2x.png" class="icon-logo lazyloaded"
                                        alt="ar_tarjeta-naranja" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/tarjeta-shopping@2x.png" class="icon-logo lazyloaded"
                                        alt="ar_tarjeta-shopping" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png" class="icon-logo lazyloaded"
                                        alt="mercadopago" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/argencard@2x.png" class="icon-logo lazyloaded"
                                        alt="ar_argencard" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/nativa@2x.png" class="icon-logo lazyloaded" alt="nativa"
                                        width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/ar/cencosud@2x.png" class="icon-logo lazyloaded"
                                        alt="ar_cencosud" width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/pagofacil@2x.png" class="icon-logo lazyloaded" alt="pagofacil"
                                        width="32" height="20">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/rapipago@2x.png" class="icon-logo lazyloaded" alt="rapipago"
                                        width="32" height="20">
                                </div>
                                <h5>Medios de envío</h5>
                                <div class="mb-5">
                                    <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/correo-argentino@2x.png" data-src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/shipping/ar/correo-argentino@2x.png" class="icon-logo lazyloaded" alt="ar_correo-argentino"
                                        width="32" height="20">
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="js-newsletter newsletter mb-5">
                                    <p>¡Enterate de promos antes que nadie!</p>

                                    <form method="post" action="/winnie-pooh" onsubmit="$(this).attr('action', '');" data-store="newsletter-form">
                                        <div class="form-group ">
                                            <input type="text" id="name" class=" form-control form-control-invert " autocorrect="off" autocapitalize="none" name="name" placeholder="Nombre" aria-label="Nombre">
                                        </div>

                                        <div class="form-group ">
                                            <input type="email" id="email" class=" form-control form-control-invert " autocorrect="off" autocapitalize="none" name="email" placeholder="Email" aria-label="Email">
                                        </div>

                                        <div class="winnie-pooh" style="display: none;">
                                            <label for="winnie-pooh-newsletter">No completar este campo</label>
                                            <input id="winnie-pooh-newsletter" type="text" name="winnie-pooh">
                                        </div>
                                        <input type="hidden" name="message" value="Pedido de inscripción a newsletter">
                                        <input type="hidden" name="type" value="newsletter">
                                        <input type="submit" name="contact" class="btn btn-primary btn-medium" value="Enviar">
                                    </form>
                                </div>

                                <h5>Contacto</h5>

                                <ul class="contact-info ">
                                    <li class="contact-item">
                                        <a href="https://wa.me/5491128630118" class="contact-link">5491112345678</a>
                                    </li>
                                    <li class="contact-item">
                                        <a href="tel:+5491128630118" class="contact-link">011-4238-0609</a>
                                    </li>
                                    <li class="contact-item">
                                        <a href="mailto:info@norshop.com.ar" class="contact-link">https://www-burzacomarket-com-ar.netlify.app/views/contacto.html</a>
                                    </li>
                                    <li class="contact-item">
                                        Eugenio E Burzaco N°1234
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js" integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>